@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-navy: #0a192f;
  --color-navy-light: #112240;

  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  background-color: var(--color-navy);
  font-family: 'Inter', sans-serif;
}